################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite-journal
/.vs/CO7100-Research-Dissertation/FileContentIndex/c7efdd4b-a9f5-41fa-8af5-2f468277c4cf.vsidx
/.vs/CO7100-Research-Dissertation/FileContentIndex/29870a22-cec5-4d97-83e2-afc190bf08ac.vsidx
/.vs/CO7100-Research-Dissertation/FileContentIndex/read.lock
/.vs/CO7100-Research-Dissertation/FileContentIndex/c7efdd4b-a9f5-41fa-8af5-2f468277c4cf.vsidx
/.vs/CO7100-Research-Dissertation/v17/.wsuo
/.vs/slnx.sqlite
